#titleTopic{
    color:#2c7ecd;
}
#search{
    background-color: #ff7518;

}
.body-card{
    background-color: rgba(225, 245, 254, 1);
}
.search{
    background-color: rgba(225, 245, 254, 1);
}
.card-h{
    height: 350px;
}

.zoom-calendar{
    color: black;
    cursor: pointer;
}

.zoom-calendar:hover{
    color: #2c7ecd;
    font-size: 17px;
}