.iconx{
    font-size: 25px;
    -webkit-text-stroke-width: 0.3px;
    color: grey;
}.iconPlus{
    font-size: 20px;
    -webkit-text-stroke-width: 0.3px;
    color: grey;
}
#select{
    max-width: 100px;

}